/*
 * Administration tools
 *
 *
 */

.clearfix:after {
   display:block;
   clear:both;
   content:" ";
   font-size:0;
   height:0;
   visibility:hidden;
}

BODY {
	font-family:Verdana, Geneva, sans-serif;
	font-size:8pt;

	background:papayawhip;
	color:steelblue;
}

DIV.wrap {
	display:block;

	font-size:100%;

   height:auto;
   min-height:650px;
	width:100%;
	min-width:950px;

	color:steelblue;
}

DIV.header {
	display:block;
	clear:both;
	position:relative;

	width:inherit;
	min-width:inherit;

	background:azure;
	color:steelblue;

	border-bottom:steelblue solid 2px;
}

.header DIV.logo {
   display:inline;
   float:left;
   overflow:hidden;

   margin:0;
   padding:3px 5px;

   height:64px;
   min-height:64px;
   width:64px;
   min-width:64px;
}

.header DIV.logo IMG {
   border:0;
}

.header DIV.inner {
   display:inline;
   float:left;

   margin:0;
	padding:5px;
}

.header DIV.info {
	display:block;
	position:absolute;

	top:5px;
	right:10px;

	font-size:9pt;
}

.header H1 {
	font-weight:bold;
	font-size:16pt;
	padding:3pt;
}

.header H2 {
	font-weight:bold;
	font-size:14pt;
	padding:2pt;
}

.header H3 {
	font-weight:bold;
	font-size:12pt;
	padding:2pt;
}

.header H4 {
	font-weight:bold;
	font-size:10pt;
	padding:1pt;
}

DIV.wrap_menu {
   display:block;
   clear:both;

	width:inherit;
	min-width:inherit;

   font-size:12pt;
}

DIV.menu {
   display:block;
   clear:both;

	width:inherit;
	min-width:inherit;

   font-size:12pt;

	background:skyblue;
	color:darkslategray;

	margin:0;
	padding:0;

  	border-bottom:steelblue solid 1px;
}

DIV.submenu {
   display:block;
   clear:both;

	width:inherit;
	min-width:inherit;

   font-size:10pt;

	background:skyblue;
	color:darkslategray;

	margin:0;
	padding:0;

	border-bottom:steelblue solid 1px;
}

DIV.submenu DIV.module_menu_caption {
   display:inline;
   float:left;

   font-weight:bold;

   margin:0;
   padding:3px 5px;
}

A.menu_item {
   display:inline;
   float:left;

	text-decoration:none;

   color:darkslategray;

   margin:0;
   padding:4px 10px;
}

A.menu_item:focus,
A.menu_item:active,
A.menu_item:hover {
	text-decoration:underline;

   color:gold;
   background:steelblue;
}

A.logout {
   display:inline;
   float:right;

	text-decoration:none;

   color:darkslategray;
   background:inherit;

   margin:0;
   padding:3px 10px;
}

A.logout:focus,
A.logout:active,
A.logout:hover {
	text-decoration:underline;

   background:steelblue;
   color:gold;
}

/* форма Login */
DIV.login {
   display:block;
   clear:both;
   position:absolute;

   top:30%;
   left:50%;

   margin-top:-75px;
   margin-left:-150px;

   height:190px;
   min-height:190px;
   width:300px;
   min-width:300px;

   background:aliceblue;
	color:steelblue;

   border:steelblue solid 2px;
   border-radius:5px;
	-webkit-border-radius:5px;
}

DIV.login TABLE {
	display:block;
	position:relative;

	margin:20px 10px 10px 10px;

	max-width:280px;
}

DIV.login TABLE TH {
   padding:15px 0;

	font-size:13pt;
	font-weight:bold;
	text-align:center;
}

DIV.login TABLE TD {
	padding:3px;
}

DIV.login INPUT[type="submit"] {
	font-size:11pt !important;
   font-weight:bold;

   background:lightcyan;
   color:steelblue;

	padding:3px 5px;

   border:2px solid steelblue;
   border-radius:5px;
	-webkit-border-radius:5px;
}


/* контент */
DIV.body {
   display:block;
	clear:both;

   font-size:11pt;

	height:inherit;
   min-height:inherit;

   width:100%;
   min-width:inherit;

	color:steelblue;
   background:floralwhite;
}

DIV.body DIV.content {
   display:block;
	float:left;

	padding:5px;

	height:auto;
	width:auto;
}

.content H1 {
	font-weight:bold;
	font-size:16pt;
	padding:3pt;
}

.content H1.caption {
	font-weight:bold;
	font-size:15pt;
	padding:7px 0;
}

.content H2 {
	font-weight:bold;
	font-size:14pt;
	padding:2pt;
}

.content H3 {
	font-weight:bold;
	font-size:12pt;
	padding:2pt;
}

.content H4 {
	font-weight:bold;
	font-size:10pt;
	padding:1pt;
}

DIV.footer {
	display:block;
	position:relative;
	clear:both;

	bottom:0;

	height:50px;
	min-height:50px;

	width:inherit;
	min-width:inherit;

	background:papayawhip;

  	border-top:steelblue solid 2px;
}

DIV.footer DIV.copyright {
	display:block;
	position:absolute;
	top:10px;
	right:10px;
	text-align:right;
	font-family: Georgia, Verdana, Geneva, sans-serif;
	font-size:10pt;
}

/* сообщения и уведомления */
DIV.message {
	font-size:11pt;
   display:block;
	position:relative;

   padding:10px;
}

DIV.message DIV {
   display:block;

   padding:10px;

   min-height:40px;
	min-width:300px;

   border-radius:3px;
	-webkit-border-radius:3px;
}

DIV.message DIV IMG {
   display:block;
   float:left;
   overflow:hidden;

	margin:0;
   padding:5px;

   height:32px;
   min-height:32px;
   width:32px;
   min-width:32px;
}

DIV.message DIV P {
	display:block;
	position:relative;
	margin:0;
	padding-left:50px;
}

DIV.msg_message {
	color:steelblue;
   background:moccasin;
   border:2px solid burlywood;
}

.msg_message A {
	color:darkslategray;
}

DIV.msg_success {
   color:white;
   background:limegreen;
   border:2px solid forestgreen;
}

.msg_success A {
	color:darkgreen;
}

DIV.msg_warning {
   color:sienna;
   background:gold;
   border:2px solid sienna;
}

.msg_warning A {
	color:darkgreen;
}

DIV.msg_error {
   color:gold;
   background:FireBrick;
   border:2px solid red;
}

.msg_error A {
	color:lightsalmon;
}
