/* элементы форм */
INPUT, TEXTAREA, SELECT {
   font-family:Verdana, Geneva, sans-serif !important;
	font-size:11pt !important;

   color:darkslategray;
	background:floralwhite;

   border:1px solid steelblue;
   border-radius:3px;
	-webkit-border-radius:3px;
}

INPUT[type="submit"] {
   font-size:10pt;
   font-weight:bold;

   background:bisque;
	color:chocolate;

   border:1px solid chocolate;
   border-radius:3px;
	-webkit-border-radius:3px;

	padding:3px 5px;
}

/* для объединения form и submit */
DIV.wrap_form {
	display:block;
	clear:both;
	padding:0;
	margin:0;

	width:auto;
	height:auto;
}

DIV.form {
	display:block;
	position:relative;

	color:steelblue;
   background:azure;

   margin:0;
   padding:10px 15px;

   border:1px solid steelblue;
   border-radius:5px;
	-webkit-border-radius:5px;

	width:auto;
	height:auto;
}

.form INPUT,
.form TEXTAREA,
.form SELECT {
	display:inline;

	padding:0;
	margin:0;
}

.form INPUT[type="checkbox"] {
   color:steelblue;
   margin:1px 3px;
}

.form FIELDSET {
   display:block;
	clear:both;
}

/* группа полей с визуальным обрамлением */
.form FIELDSET.fieldset {
	display:block;
	clear:both;

	margin:0;
	padding:10px;

   border:1px solid steelblue;
   border-radius:3px;
}

/* заголовки fieldset */
.form FIELDSET LEGEND {
	font-size:12pt;
	font-weight:bold;
	margin:0;
	padding:0 7px;
}

.form LABEL {
	display:block;
}

.form DIV.field {
	display:block;
	clear:both;

	margin:0 auto;
	padding:3px 0 0 0;

	height:auto;

	white-space:nowrap;

	-webkit-box-lines:single;
	-webkit-box-orient:horizontal;
}

.form DIV.field DIV.label {
   display:inline;
	float:left;

   font-size:10pt;
   font-weight:bold;
   text-align:right;

   margin:0 auto;
   padding:0 7px 0 0;

   width:150px;
	min-width:150px;
}

/* позиционирование метки, заголовка поля вправо */
.form DIV.field .right {
	float:none !important;

	width:auto !important;

	text-align:left !important;

	padding:0 0 0 7px !important;
}

/* заголовки разделов */
.form DIV.caption {
	display:block;

	font-size:14pt;
	font-weight:bold;
	text-align:left;

	margin:15px 5px 15px 5px;
	padding:0 0 10px 20px;

	border-bottom:1px solid LightSkyBlue;

	white-space:nowrap;
}

.form DIV.small_caption {
	display:block;

	font-size:12pt;
	font-weight:bold;
	text-align:left;

	margin:15px 5px 15px 5px;
	padding:0 0 10px 20px;

	border-bottom:1px solid LightSkyBlue;

	white-space:nowrap;
}


/* обозначение группы полей, заголовок */
.form DIV.group {
	display:block;

	font-size:12pt;
	font-weight:bold;
	text-align:left;

	margin:30px 5px 7px 5px;
	padding:0 0 3px 20px;

	border-bottom:1px solid LightSkyBlue;

	white-space:nowrap;
}

.form A.back {
	font-size:9pt;
	color:steelblue;
	text-decoration:none;
}

.form A.back:active,
.form A.back:focus,
.form A.back:hover {
	text-decoration:underline;
	color:maroon;
}

.form A.back-arrow {
	display:block;
	position:relative;
	overflow:hidden;

	text-decoration:none;

	left:5px;
	top:5px;

	height:32px;
	min-height:32px;
	width:32px;
	min-width:32px;

	background:url(images/back-arrow.png) no-repeat;
}

/* поле для submit-ов, ссылок, отдельная панель */
DIV.submit {
   display:block;
	clear:both;

   background:honeydew;

   padding:5px 7px;
   margin:5px 0 0 0;

   border:1px solid green;
   border-radius:5px;
	-webkit-border-radius:5px;
}

.submit A {
   font-size:10pt;
	font-weight:bold;
   text-decoration:none;

   color:darkgreen;
}

.submit A:active,
.submit A:hover,
.submit A:focus
{
   color:maroon;
   text-decoration:underline;
}

.submit INPUT[type="submit"] {
	font-size:10pt !important;
   font-weight:bold;

	background:honeydew;
   color:darkgreen;

	padding:3px 5px;

   border:1px solid darkgreen;
   border-radius:3px;
	-webkit-border-radius:3px;
}

/* знак разделителя */
.submit DIV.delimiter {
	display:inline;

	margin:0;
	padding:0 7px;
}

.submit .margin {
	display:inline;

	padding:0 3px 0 0;
}

.submit .vertical-margin {
	display:block;
	clear:both;

	padding:3px 0 0 0;
}
