/* списки */
DIV.list {
	display:block;
	clear:both;

	color:steelblue;
}

DIV.listHeader {
   display:block;

	margin:0;
	padding:10px 0 5px 0;

   font-size:13pt;
   font-weight:bold;
}

.list TABLE {
	display:table;
	font-size:9pt;

	margin:5px 0 0 0;

   border:none;
   border-bottom: 1px solid steelblue;
   border-top: 1px solid steelblue;
}

.list TABLE TH {
	font-size:8pt;
	font-weight:bold;
	text-align:center;

	background:steelblue;
	color:bisque;

   padding:3px;

	border:1px solid steelblue;
}

.list TABLE TR:nth-child(2n) {
   background:oldlace;
}

.list TABLE TR:nth-child(2n+1) {
   background:blanchedalmond;
}

.list TABLE TR:hover {
	background:peachpuff;
}

.list TABLE TR TD {
   padding:3px 5px;

	vertical-align:middle;

	border-left:1px solid steelblue;
}

/* элементы списков, отдельные элементы таблицы */
.list TABLE TR TD.number {
	text-align:right;
}

.list TABLE TR TD.date {
	font-size:8pt;
	text-align:center;
}

.list TABLE TR TD.text {
	font-size:8pt;
}

.list TABLE TR TD.nowrap {
	white-space:nowrap;
}

.list TABLE TR TD.last {
   padding:3px 5px;

	border-right:1px solid steelblue;
}

.list TABLE TR TD.right {
	text-align:right !important;
}

.list A {
   font-size:11pt;
   text-decoration:none;

   color:saddlebrown;
}

.list A:active,
.list A:focus,
.list A:hover {
   text-decoration:underline;

   color:maroon;
}

/* постраничная навигация */
.list DIV.pager {
	display:block;
	clear:right;

	margin:0;
	padding:3px;

	font-size:11pt;

	text-align:right;
}

.list DIV.pager A {

	color:darkslategray;

	font-size:11pt;
	text-decoration:none;
}

.list DIV.pager A:active,
.list DIV.pager A:focus,
.list DIV.pager A:hover {
	color:maroon;
	text-decoration:underline;
}

.list DIV.pager STRONG {
	font-weight:bold;
}


/* списки элементов */
DIV.list_items {
	display:block;
	clear:both;

	margin:0;
	padding:10px;

   border:1px solid steelblue;
   border-radius:3px;
}

/* списки изображений */
DIV.list_images {
	display:block;
}

.list_images DIV.wrap_image {
	display:block;

	text-align:center;

	margin:0;
	padding:7px;

	width:100px;
	min-width:100px;
}

.wrap_image DIV.image {
	display:block;
	clear:both;
	position:relative;

	margin:0;
	padding:1px;

	height:100px;
	min-height:100px;
	width:100px;
	min-width:100px;

	border:1px solid skyblue;
	border-radius:0;
}

/* выравнивание изображения по центру */
.image .middle0 {
	display:table;

	margin: 0 auto;

	width:100px;
	height:100px;
}
.image .middle0 .middle1 {
	display:table-row;
}
.image .middle0 .middle1 .middle2 {
	display:table-cell;
	vertical-align: middle;
	text-align:center;
}

/* кнопка удаления изображения */
.wrap_image DIV.image A.delete {
	position:absolute;

	width:13px;
	height:13px;
	top:-8px;
	right:-8px;

	background:url(../icon/13/delete.png) 0 0 no-repeat;
	z-index:100;
}

.wrap_image DIV.title {
	display:block;
	clear:both;
	position:relative;

	font-size:9pt;
	text-align:center;

	margin:0;
	padding:5px;
}
