DIV.wrap {
	display:block;
	
	font-family:Verdana, Geneva, sans-serif;
	font-size:100%;
	
	color:#4c4c4c;
	
	background:white;
	
	margin:0;
	padding:0;
}

DIV.wrap A {
	font-family:Verdana, Geneva, sans-serif;
	font-size:100%;

	color:#616161;
}

DIV.wrap DIV.bg {
	display:block;
	
	width:100%;
	height:auto;
	min-height:590px;
	
	background:url(images/bg.jpg) left top repeat-x;
}

DIV.wrap DIV.body {
	display:block;
	overflow:hidden;
	
	width:1000px;
	min-width:1000px;
	
	height:auto;
	min-height:590px;
	
	margin:0 auto;
	padding:0 10px;
	
	background:url(images/header_bg.jpg) left top no-repeat;
}

DIV.body DIV.header {
	display:block;
	position:relative;
	clear:both;
	
	height:225px;
	width:100%;
}

DIV.header A.logo {
	display:block;
	position:absolute;
	
	top:0;
	left:0;
	
	width:288px;
	height:148px;
	
	margin:0;
	padding:0;
	
	background:url(images/logo.png) left top no-repeat;
	
	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.header DIV.contacts_header {
	display:block;
	position:absolute;
	overflow:hidden;
	
	top:0;
	left:290px;
	
	height:128px;
	max-height:128px;
	width:440px;
	max-width:440px;
	
	margin:0;
	padding:10px 0;
	
	font-size:12pt;
	
	color:green;
}

DIV.header DIV.cart {
	display:block;
	position:absolute;
	
	top:0;
	left:730px;
	
	width:270px;
	height:205px;
	
	margin:0;
	padding:0;
	
	background:url(images/cart-header-bg.png) left top no-repeat;
	
	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.header DIV.cart P.cart-logo {
	display:block;
	position:relative;
	
	top:45px;
	left:95px;
	
	font-size:15px;
	font-weight:bold;
	line-height:17px;

	margin:0;
	padding:0;	
	padding-left:20px;
	
	color:#ff890b;
	
	width:60px;
	
	background:url(images/cart-green-star.jpg) left top no-repeat;
}

DIV.header DIV.menu-wrap {
	display:block;
	position:absolute;
	
	top:150px;
	left:0;
	
	height:27px;
	width:auto;
	
	margin:0;
	padding:0;
}

DIV.menu-wrap UL.menu {
	display:block;
	
	margin:0;
	padding:0;
	
	height:27px;
	min-height:27px;
}

DIV.menu-wrap UL.menu LI {
	display:inline;
	float:left;
	overflow:hidden;

	margin:0;
	padding:0;
	
	height:27px;
	min-height:27px;
	
	width:auto;
}

DIV.menu-wrap UL.menu LI A {
	display:block;

	margin:0;
	padding:0;
	padding-right:30px;
	
	height:27px;
	min-height:27px;

	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.menu-wrap UL.menu LI A.brand {
	width:84px;
	background:url(images/menu-brand.png) left top no-repeat;
}

DIV.menu-wrap UL.menu LI A.brand:hover {
	background:url(images/menu-brand.png) left -27px no-repeat;
}

DIV.menu-wrap UL.menu LI A.delivery {
	width:105px;
	background:url(images/menu-delivery.png) left top no-repeat;
}

DIV.menu-wrap UL.menu LI A.delivery:hover {
	background:url(images/menu-delivery.png) left -29px no-repeat;
}

DIV.menu-wrap UL.menu LI A.actions {
	width:76px;
	background:url(images/menu-actions.png) left top no-repeat;
}

DIV.menu-wrap UL.menu LI A.actions:hover {
	background:url(images/menu-actions.png) left -27px no-repeat;
}

DIV.menu-wrap UL.menu LI A.advices {
	width:166px;
	background:url(images/menu-advices.png) left top no-repeat;
}

DIV.menu-wrap UL.menu LI A.advices:hover {
	background:url(images/menu-advices.png) left -28px no-repeat;
}

DIV.menu-wrap UL.menu LI A.contacts {
	width:119px;
	background:url(images/menu-contacts.png) left top no-repeat;
}

DIV.menu-wrap UL.menu LI A.contacts:hover {
	background:url(images/menu-contacts.png) left -28px no-repeat;
}

DIV.body DIV.sidebar {
	display:block;
	float:left;
	position:relative;
	
	height:auto;
	min-height:325px;
	width:210px;
	
	margin:0;
	padding:0;
	padding-bottom:50px;
}

/* меню категорий товаров */
DIV.body DIV.sidebar UL.menu {
	display:block;

	margin:0;
	margin-bottom:30px;
	padding:0;
}

DIV.body DIV.sidebar UL.menu SPAN.title-menu {
	display:block;
	
	padding-bottom:10px;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-style:italic;
	font-weight:bold;
	
	color:#ff6000;
}

DIV.body DIV.sidebar UL.menu LI {
	display:block;
	clear:both;
	
	margin:0;
	padding:3px 0;
}

DIV.body DIV.sidebar UL.menu LI A {
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:16px;
	text-decoration:none;
	color:#616161;
}

DIV.body DIV.sidebar UL.menu LI UL {
	margin:0;
	margin-left:20px;
	padding:7px 0 5px 0;
	list-style:none;
}

DIV.body DIV.sidebar UL.menu LI UL LI A {
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:14px;
	text-decoration:none;
	color:#616161;
}

DIV.body DIV.sidebar UL.menu LI A.selected {
	color:#ff741b;
}


/* новости */
DIV.body DIV.sidebar UL.news {
	display:block;
	
	margin:0;
	margin-bottom:20px;
	padding:0;
	
	list-style:none;
}

DIV.body DIV.sidebar UL.news SPAN.title-news {
	display:block;
	
	padding-bottom:10px;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-style:italic;
	font-weight:bold;
	
	color:#ffa800;
}

DIV.body DIV.sidebar UL.news LI {
	display:block;
	clear:both;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	
	margin:0;
	padding:0;
	padding-bottom:15px;
}

DIV.body DIV.sidebar UL.news LI SPAN.date {
	display:block;
	clear:both;
	
	margin:3px 0 0 0;
	padding:0;
	
	font-size:12px;
	font-style:normal;
	
	color:#ff6000;
}


DIV.body DIV.content {
	display:block;
	position:relative;
	clear:right;
	
	height:auto;
	min-height:365px;
	
	width:785px;
	
	margin:0;
	margin-left:215px;
	
	padding:0;
}

DIV.body DIV.footer {
	display:block;
	position:relative;
	clear:both;
	
	width:1000px;
	min-width:1000px;
	height:200px;
	min-height:200px;
	
	margin:0;
	margin-bottom:20px;
	padding:0;
}

DIV.body DIV.footer DIV.info {
	display:block;
	position:absolute;
	overflow:hidden;
	
	left:220px;
	top:0;
	
	width:780px;
	height:145px;
	
	margin:0;
	padding:0;
	
	font-size:12pt;
	
	color:#b3b3b3;
}

DIV.body DIV.footer DIV.contacts_footer {
	display:block;
	position:absolute;
	overflow:hidden;
	
	left:0;
	top:110px;

	width:210px;
	height:90px;
	
	margin:0;
	padding:0;
	
	font-size:12pt;
	
	color:green;	
}


DIV.body DIV.footer DIV.cap {
	dispay:block;
	position:absolute;
	overflow:hidden;
	
	top:-30px;
	left:15px;
	
	width:175px;
	height:135px;
	
	background:url(images/footer-cap.png) left top no-repeat;
	
	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.body DIV.footer DIV.copyright {
	display:block;
	position:absolute;
	overflow:hidden;
	
	top:156px;
	left:768px;
	
	width:232px;
	height:44px;

	background:url(images/copyright.png) left top no-repeat;
	
	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.body DIV.footer DIV.counters {
	dispay:block;
	position:absolute;
	overflow:hidden;
	
	top:150px;
	left:220px;
	
	width:540px;
	height:50px;
	
	-pie-png-fix:true;
	behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}
