/* Content-pages edit */

/* определение стилей для контент-блока навигации Tree
	блок, в который будут загружаться страницы по ajax */

DIV#content_tree_content {
	margin:0;
	padding:0 0 0 10px;
	min-width:700px !important;
}

/* ограничить по ширине поля */
DIV#content_tree_content INPUT,
DIV#content_tree_content TEXTAREA,
DIV#content_tree_content SELECT {
	max-width:495px !important;
}
