DIV.body DIV.content DIV.advancedsearch {
	display: block;
}

DIV.body DIV.content DIV.advancedsearch INPUT[type="text"] {
	display:inline-block;

	font-size:13px;
	color:black;

	padding:3px;

	width:150px;

	background:url(../images/search_text_bg.jpg) left top repeat-x;

	border:1px solid #d9b036;
	border-radius:3px;
}

DIV.body DIV.content DIV.advancedsearch INPUT[type="submit"] {
	color: #616161;
	background: #feba27;
	border: 1px solid #FF6000;
	border-radius:3px;

	padding: 1px 3px;

	margin-left: 5px;
}

DIV.body DIV.content DIV.advancedsearch TABLE {
	font-size: 14px;
	line-height: 18px;
	margin-top: 10px;
}

DIV.body DIV.content DIV.advancedsearch TABLE TH {
	text-align: left;
	padding: 5px 10px;
	padding-bottom: 7px;
}
DIV.body DIV.content DIV.advancedsearch TABLE TD {
	text-align: left;
	padding: 3px 10px;
}

DIV.body DIV.content DIV.advancedsearch TABLE TD UL LI UL {
	margin-left: 20px;
}

DIV.body DIV.content DIV.advancedsearch TABLE TD UL LI.list-categories SPAN.title {
	display: inline-block;

	font-weight: bold;

	margin-top: 10px;
	margin-bottom: 3px;
	padding-left: 20px;

	cursor: pointer;

	background: url(../images/list-closed.gif) left 3px no-repeat;
}

DIV.body DIV.content DIV.advancedsearch TABLE TD UL LI.opened SPAN.title {
	background: url(../images/list-opened.gif) left 4px no-repeat !important;
}

DIV.body DIV.content DIV.advancedsearch TABLE TD UL LI:first-child SPAN.title {
	margin-top: 0 !important;
}

DIV.body DIV.content DIV.advancedsearch TABLE UL LI.list-categories UL LI.check-box {
	display: none;
	visibility: hidden;
}

DIV.body DIV.content DIV.advancedsearch TABLE UL LI.opened UL LI.check-box {
	display: block;
	visibility: visible;
}

DIV.body DIV.content DIV.advancedsearch TABLE UL LI.list-categories UL LI.checked {
	display: block !important;
	visibility: visible !important;
}

