DIV.wrap {
	display:block;

	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;

	color:#4c4c4c;

	background:white;

	margin:0;
	padding:0;
}

DIV.wrap A {
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;

	color:#616161;
}

DIV.wrap DIV.bg {
	display:block;

	width:100%;
	height:auto;
	min-height:590px;

	background:url(../images/bg.jpg) left -367px repeat-x;
}

DIV.wrap DIV.body {
	display:block;
	overflow:hidden;

	width:1000px;
	min-width:1000px;

	height:auto;
	min-height:590px;

	margin:0 auto;
	padding:0 10px;

	background:url(../images/header_bg.jpg) left -367px no-repeat;
}

DIV.body DIV.header {
	display:block;
	position:relative;
	clear:both;

	height:225px;
	width:100%;
}

DIV.header A.logo {
	display:block;
	position:absolute;

	top:0;
	left:0;

	width:288px;
	height:148px;

	margin:0;
	padding:0;

	background:url(../images/logo.png) left top no-repeat;

	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.header DIV.contacts_header {
	display:block;
	position:absolute;
	overflow:hidden;

	top:0;
	left:290px;

	height:125px;
	max-height:125px;
	width:430px;
	max-width:430px;

	margin:0;
	padding:15px 5px 10px 10px;

	font-size:12pt;
	line-height:15pt;

	color:#3cab00;
}

DIV.header DIV.cart {
	display:block;
	position:absolute;

	top:0;
	left:730px;

	width:270px;
	height:205px;

	margin:0;
	padding:0;

	background:url(../images/cart-header-bg.png) left top no-repeat;

	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.header DIV.cart P.cart-logo {
	display:block;
	position:relative;

	top:45px;
	left:95px;

	font-size:15px;
	font-weight:bold;
	line-height:17px;

	margin:0;
	padding:0;
	padding-left:20px;

	color:#ff890b;

	width:70px;

	background:url(../images/cart-green-star.jpg) left top no-repeat;
}

DIV.header DIV.cart DIV.info {
	display:block;
	position:relative;
	overflow:hidden;

	top:58px;
	left:65px;

	width:180px;
	max-width:180px;
	height:35px;

	font-size:13px;
	font-style:italic;
	line-height:15px;

	color:#b3b3b3;
}

DIV.header DIV.cart DIV.info P {
	display:block;
}

DIV.header DIV.cart DIV.info P SPAN.price {
	font-size:15px;
	color:#ff6000;
}

DIV.header DIV.cart DIV.info P SPAN.count {
	font-size:15px;
	color:#ff8400;
}

DIV.header DIV.cart DIV.info P.empty {

	font-size:15px;
	color:#ff6000;

	margin:10px 0 0 25px;
}

DIV.header DIV.cart A.order {
	display:block;
	position:relative;

	top:60px;
	left:85px;

	width:110px;

	font-size:12px;
	font-style:italic;
	text-decoration:none;

	color:#3cab00;
}


DIV.header DIV.menu-wrap {
	display:block;
	position:absolute;

	top:150px;
	left:0;

	height:27px;
	width:auto;

	margin:0;
	padding:0;
}

DIV.menu-wrap UL.menu {
	display:block;

	margin:0;
	padding:0;

	height:27px;
	min-height:27px;
}

DIV.menu-wrap UL.menu LI {
	display:inline;
	float:left;
	overflow:hidden;

	margin:0;
	padding:0;

	height:27px;
	min-height:27px;

	width:auto;
}

DIV.menu-wrap UL.menu LI A {
	display:block;

	font-size:0px;
	line-height:0px;

	margin:0;
	padding:0;
	padding-right:40px;

	height:27px;
	min-height:27px;

	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.menu-wrap UL.menu LI A.brands {
	width:84px;
	background:url(../images/menu-brand.png) left top no-repeat;
}

DIV.menu-wrap UL.menu LI A.brands:hover {
	background:url(../images/menu-brand.png) left -27px no-repeat;
}

DIV.menu-wrap UL.menu LI A.delivery {
	width:105px;
	background:url(../images/menu-delivery.png) left top no-repeat;
}

DIV.menu-wrap UL.menu LI A.delivery:hover {
	background:url(../images/menu-delivery.png) left -29px no-repeat;
}

DIV.menu-wrap UL.menu LI A.actions {
	width:76px;
	background:url(../images/menu-actions.png) left top no-repeat;
}

DIV.menu-wrap UL.menu LI A.actions:hover {
	background:url(../images/menu-actions.png) left -27px no-repeat;
}

DIV.menu-wrap UL.menu LI A.advices {
	width:166px;
	background:url(../images/menu-advices.png) left top no-repeat;
}

DIV.menu-wrap UL.menu LI A.advices:hover {
	background:url(../images/menu-advices.png) left -28px no-repeat;
}

DIV.menu-wrap UL.menu LI A.contacts {
	width:119px;
	background:url(../images/menu-contacts.png) left top no-repeat;
}

DIV.menu-wrap UL.menu LI A.contacts:hover {
	background:url(../images/menu-contacts.png) left -28px no-repeat;
}

DIV.body DIV.sidebar {
	display:block;
	float:left;
	position:relative;

	height:auto;
	min-height:325px;
	width:210px;
	max-width:210px;

	margin:0;
	padding:0;
	padding-bottom:40px;
}

/* панель поиска */
DIV.body DIV.sidebar DIV.search {
	display:block;
	position:relative;

	top:0;
	left:0;

	width:200px;
	height:49px;

	background:url(../images/search_bg.jpg) left top repeat-x;

	border-radius:7px;

	margin:0 0 25px 0;
	padding:0;
}

DIV.search INPUT[type="text"] {
	display:block;
	position:relative;

	top:7px;
	left:10px;

	font-size:13px;
	color:#b2b2b2;

	padding:3px;

	width:150px;

	background:url(../images/search_text_bg.jpg) left top repeat-x;

	border:1px solid #d9b036;
	border-radius:3px;
}

DIV.search INPUT[type="text"].active {
	color:black;
}

DIV.search A.advanced {
	display:block;
	position:absolute;

	font-size: 12px;

	color: white;

	text-decoration:none;
	border-bottom: 1px dashed white;

	top:31px;
	left:50px;

	margin:0;
	padding:0;
}

DIV.search A.submit {
	display:block;
	position:absolute;
	overflow:hidden;

	text-decoration:none;
	border:none;

	top:10px;
	left:175px;

	margin:0;
	padding:0;

	width:15px;
	height:15px;

	background:url(../images/search_submit.png) left top no-repeat;
	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

/* меню категорий товаров */
DIV.body DIV.sidebar UL.menu {
	display:block;

	margin:0;
	margin-bottom:30px;
	padding:0;
}

DIV.body DIV.sidebar UL.menu SPAN.title-menu {
	display:block;

	padding-bottom:10px;

	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-style:italic;
	font-weight:bold;

	color:#ff6000;
}

DIV.body DIV.sidebar UL.menu LI {
	display:block;
	clear:both;

	margin:7px 0;
	padding:0;
}

DIV.body DIV.sidebar UL.menu LI A {
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:16px;
	text-decoration:none;
	color:#616161;
}

DIV.body DIV.sidebar UL.menu LI UL {
	margin:0;
	margin-left:20px;
	padding:7px 0 5px 0;
	list-style:none;
}

DIV.body DIV.sidebar UL.menu LI UL LI {
	display:block;
	clear:both;

	margin:3px 0;
	padding:0;
}

DIV.body DIV.sidebar UL.menu LI UL LI A {
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:14px;
	text-decoration:none;
	color:#616161;
}

DIV.body DIV.sidebar UL.menu LI A.selected,
DIV.body DIV.sidebar UL.menu LI A:active,
DIV.body DIV.sidebar UL.menu LI A:focus,
DIV.body DIV.sidebar UL.menu LI A:hover {
	color:#ff741b;
}

DIV.body DIV.sidebar UL.menu SPAN.count-prod {
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:11px;
	color:#9e9e9e;

	padding-left:6px;
}

/* новости */
DIV.body DIV.sidebar UL.news {
	display:block;

	margin:0;
	margin-bottom:20px;
	padding:0;

	list-style:none;
}

DIV.body DIV.sidebar UL.news A.title-news {
	display:block;

	padding-bottom:10px;

	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-style:italic;
	font-weight:bold;

	text-decoration:none;

	color:#ffa800;
}

DIV.body DIV.sidebar UL.news LI {
	display:block;
	clear:both;

	margin:0;
	padding:0;
	padding-bottom:15px;
}

DIV.body DIV.sidebar UL.news LI A {
	display:block;
	clear:both;

	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	text-decoration:none;

	color:#616161;

	padding-bottom:3px;
}

DIV.body DIV.sidebar UL.news LI A:active,
DIV.body DIV.sidebar UL.news LI A:focus,
DIV.body DIV.sidebar UL.news LI A:hover {
	color:#ff741b;
	text-decoration:underline;
}

DIV.body DIV.sidebar UL.news LI SPAN.date {
	display:block;
	clear:both;

	margin:3px 0 0 0;
	padding:0;

	font-size:12px;
	font-style:normal;

	color:#ff6000;
}


/* контент */
DIV.body DIV.wrap-content {
	display:block;
	position:relative;

	height:auto;
	min-height:365px;

	width:775px;

	margin:0;
	margin-left:225px;

	padding:0;

	zoom:1;
}

DIV.body DIV.wrap-content DIV.path {
	display:block;
	clear:right;

	font-size:12px;

	height:22px;

	margin:0;
	padding:0;
	padding-bottom:10px;
}

DIV.body DIV.wrap-content DIV.path A {
	font-size:12px;
	text-decoration:none;
}

DIV.body DIV.wrap-content DIV.path A:active,
DIV.body DIV.wrap-content DIV.path A:focus,
DIV.body DIV.wrap-content DIV.path A:hover {
	color:#ff741b;
	text-decoration:underline;
}

DIV.body DIV.wrap-content DIV.content {
	display:block;
	position:relative;
	float:left;
	clear:right;

	width:775px;
	min-width:775px;
	height:auto;

	margin:0;
	padding:0;
	padding-bottom:20px;

	font-size:100%;
}

DIV.content > H1.title {
	display:block;

	margin:0;
	padding:0;
	padding-bottom:20px;

	font-size:20px;
	font-style:italic;
	font-weight:bold;

	color:#ff6000;
}

DIV.content H1 {
	display:block;
	margin-bottom:6px;
	font-size:18pt;
}

DIV.content H2 {
	display:block;
	margin-bottom:6px;
	font-size:16pt;
}

DIV.content H3 {
	display:block;
	margin-bottom:4px;
	font-size:14pt;
}

DIV.content H4 {
	display:block;
	margin-bottom:4px;
	font-size:12pt;
}

DIV.content H5 {
	display:block;
	margin-bottom:3px;
	font-size:11pt;
}

DIV.content H6 {
	display:block;
	margin-bottom:3px;
	font-size:10pt;
}

DIV.content P {
	display:block;
	margin:7px 0;

	font-size:100%;
	line-height:110%;
}

DIV.body DIV.wrap-content DIV.content P.advanced_search_params {
	display: block;

	margin: 0;
	padding: 0;
	margin-bottom: 20px;

	font-size: 12px;
	line-height: 16px;
}

DIV.body DIV.footer {
	display:block;
	position:relative;
	clear:both;

	width:1000px;
	min-width:1000px;
	height:200px;

	margin:0;
	margin-bottom:20px;
	padding:0;
}

DIV.body DIV.footer_info {
	display:block;
	overflow:hidden;

	width:755px;

	margin:0 20px 40px 225px;
	padding:0;

	font-size:13px;
	line-height:15px;

	color:#b3b3b3;
}

DIV.body DIV.footer UL.footer_menu {
	display:block;
	position:absolute;
	overflow:hidden;

	left:220px;
	top:0;

	margin:0;
	padding:0;

	height:20px;
	min-width:780px;
	max-width:780px;
}

DIV.body DIV.footer UL.footer_menu LI {
	display:inline;
	float:left;

	margin:0;
	padding:0;
	padding-right:20px;

	height:20px;
}

DIV.body DIV.footer UL.footer_menu LI A {

	font-size:16px;
	line-height:18px;
	text-decoration:none;

	color:#ffa800;
}

DIV.body DIV.footer UL.footer_menu LI A:active,
DIV.body DIV.footer UL.footer_menu LI A:focus,
DIV.body DIV.footer UL.footer_menu LI A:hover {
	text-decoration:underline;
}

DIV.body DIV.footer DIV.contacts_footer {
	display:block;
	position:absolute;
	overflow:hidden;

	left:220px;
	top:45px;

	width:780px;
	height:50px;

	margin:0;
	padding:0;

	font-size:13px;
	line-height:15px;

	color:#3cab00;
}

DIV.body DIV.footer DIV.cap {
	dispay:block;
	position:absolute;
	overflow:hidden;

	top:-30px;
	left:15px;

	width:175px;
	height:135px;

	background:url(../images/footer-cap.png) left top no-repeat;

	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.body DIV.footer DIV.copyright {
	display:block;
	position:absolute;
	overflow:hidden;

	font-size: 13px;
	line-height: 16px;

	top:110px;
	left:220px;

	width:530px;
	height:50px;

	/* background:url(../images/copyright.png) left top no-repeat; */

/*	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;*/
}

DIV.body DIV.footer DIV.counters {
	dispay:block;
	position:absolute;
	overflow:hidden;

	top:110px;
	left:800px;

	width:250px;
	height:50px;

	-pie-png-fix:true;
	behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.body DIV.footer DIV.counters IMG {
	opacity:0.4;
}

DIV.body DIV.footer DIV.counters IMG:hover {
	opacity:1;
}
