DIV.brands {
	display:block;
	overflow:hidden;

	font-family:Arial, Helvetica, sans-serif;
}

DIV.brands H1.title {
	display:block;

	margin:0;
	padding:0;
	padding-bottom:15px;

	font-size:20px;
	font-style:italic;
	font-weight:bold;

	color:#ff6000;
}

DIV.brands DIV.item-wrap {
	display:block;
	position:relative;
	overflow:hidden;
	clear:both;

	margin:0;
	margin-bottom:15px;
	padding:0;
}

DIV.brands DIV.brand-item {
	display:block;
	position:relative;

	margin:0;
	padding:0;
}

.with-photo {
	margin-left:115px !important;
}

DIV.brands DIV.brand-item DIV.title-wrap {
	display:block;
	clear:right;
	height:22px;
}

DIV.brands DIV.brand-item A.title {
	display:block;
	float:left;

	font-size:16px;
	text-decoration:none;

	margin:0;
	padding:0;

	color:#ff8400;
}

DIV.brands DIV.brand-item A.title:active,
DIV.brands DIV.brand-item A.title:focus,
DIV.brands DIV.brand-item A.title:hover {
	text-decoration:underline;
}

DIV.brands DIV.brand-item A.products {
	display:block;
	float:right;

	font-size:12px;
	text-decoration:none;

	margin:0;
	padding:0;
	margin-top:5px;

	color:#ff8400;
}

DIV.brands DIV.brand-item A.products:active,
DIV.brands DIV.brand-item A.products:focus,
DIV.brands DIV.brand-item A.products:hover {
	text-decoration:underline;
}

DIV.brands DIV.brand-item P.brief {
	display:block;

	margin:0;
	padding:0;
	padding-bottom:10px;

	font-size:16px;
	line-height:18px;
}

DIV.brands DIV.text {
	font-size:16px;
	line-height:18px;
}

DIV.brands DIV.text P {
	display:block;

	margin:7px 0;
}

DIV.brands DIV.image-wrap {
	display:table;
	float:left;
	overflow:hidden;

	vertical-align:middle;
	text-align:center;

	width:100px;
	height:100px;

	margin:auto;
	padding:0;

	background:white;
	border:1px solid gainsboro;
	border-radius:10px;

	behavior:url(/include/css/PIE/PIE.php);
}

DIV.brands DIV.image-wrap DIV.image-wrap-row {
	display:table-row;
}

DIV.brands DIV.image-wrap DIV.image-wrap-row DIV.image {
	display:table-cell;
	overflow:hidden;

	vertical-align:middle;
	text-align:center;

	width:100px;
	height:100px;

	margin:auto;
	padding:0;

   behavior:url(/include/css/PIE/PIE.php);
}
