DIV.news {
	display:block;
	overflow:hidden;

	font-family:Arial, Helvetica, sans-serif;
}

DIV.news H1.title {
	display:block;

	margin:0;
	padding:0;
	padding-bottom:15px;

	font-size:20px;
	font-style:italic;
	font-weight:bold;

	color:#ff6000;
}

DIV.news DIV.news-item {
	display:block;
	position:relative;
	overflow:hidden;
	clear:both;

	width:100%;

	margin:0;
	margin-bottom:10px;
	padding:0;
}

DIV.news DIV.news-item A.title {
	display:block;
	clear:both;

	font-size:16px;
	text-decoration:none;

	margin:0;
	padding:0;
	padding-bottom:5px;

	color:#ff8400;
}

DIV.news DIV.news-item A.title:active,
DIV.news DIV.news-item A.title:focus,
DIV.news DIV.news-item A.title:hover {
	text-decoration:underline;
}

DIV.news SPAN.date {
	display:block;

	margin:0;
	padding:0;
	padding-bottom:5px;

	font-size:13px;
	color:#3cab00;
}

DIV.news DIV.news-item P.brief {
	display:block;

	margin:0;
	padding:0;
	padding-bottom:10px;

	font-size:16px;
	line-height:18px;
}

DIV.news DIV.text {
	font-size:16px;
	line-height:18px;
}

DIV.news DIV.text P {
	display:block;

	margin:7px 0 10px;
}
