DIV.order {
	display:block;
	position:relative;
	float:left;

	height:auto;
	max-width:770px;
}

DIV.order H1.title {
	display:block;

	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	font-style:italic;
	font-weight:bold;

	margin-bottom:20px;

	color:#ff6000;
}

DIV.order DIV.lot {
	display:block;
	position:relative;
	clear:both;

	margin:0 0 10px 0;
	padding:0;

	min-width:770px;
	max-width:770px;
}

DIV.order DIV.lot SPAN.caption {
	display:block;

	font-size:12px;
	font-style:italic;

	margin-bottom:3px;

	height:14px;

	color:#616161;
}

DIV.order DIV.lot DIV.name {
	display:block;
	float:left;

	vertical-align:middle;

	margin:0;
	padding:0 5px;

	width:300px;
	max-width:300px;
	min-width:300px;

	height:110px;
	min-height:110px;

	font-size:16px;
	color:#ff8400;
}

DIV.order DIV.lot DIV.name A {
	font-size:16px;
	text-decoration:none;
	color:#ff8400;
}

DIV.order DIV.lot DIV.name A:active,
DIV.order DIV.lot DIV.name A:focus,
DIV.order DIV.lot DIV.name A:hover {
	text-decoration:underline;
}

DIV.order DIV.lot DIV.count {
	display:block;
	float:left;

	margin:0;
	padding:0 5px;

	width:50px;
	max-width:50px;
	min-width:50px;

	height:110px;
	min-height:110px;
}

DIV.order DIV.lot DIV.count INPUT {

	font-size:16px;
	color:#616161;

	border:1px solid #ffbd0c;
	border-radius:3px;

	width:40px;
	max-width:40px;

	text-align:right;
}

DIV.order DIV.lot DIV.article {
	display:block;
	float:left;

	margin:0;
	padding:0 5px;

	width:110px;
	max-width:110px;
	min-width:110px;

	height:110px;
	min-height:110px;

	font-size:14px;
	color:#ff8400;
}

DIV.order DIV.lot DIV.price {
	display:block;
	float:left;

	margin:0;
	padding:0 5px;

	width:110px;
	max-width:110px;
	min-width:110px;

	height:110px;
	min-height:110px;

	font-size:14px;

	color:#ff8400;
}

DIV.order DIV.lot DIV.price SPAN.price {
	display:block;
	text-align:right;
}

DIV.order DIV.lot DIV.del {
	display:block;
	float:left;

	width:30px;
	min-width:30px;
}

DIV.order DIV.lot DIV.del A.del {
	display:block;
	position:relative;

	margin:auto;

	width:18px;
	height:18px;

	margin:15px 0 0 12px;

	background:url(../images/cross-del.png) left top no-repeat;

	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.order DIV.lot DIV.sum {
	display:block;
	float:left;

	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style:italic;
	font-weight:bold;

	padding:15px 5px;

	color:#ff6000;
}

.sum-caption {
	margin-left:120px;

	width:300px;
	max-width:300px;
	min-width:300px;
}

.sum-count {
	text-align:right;
	width:40px;
}

.sum-price {
	text-align:right;
	width:130px;

	margin-left:120px;
}


/* форма заказа */
DIV.order-form {
	display:block;
	float:left;
	clear:both;

	margin:10px 0 20px 20px;

	height:auto;

	width:750px;
	min-width:750px;
}

DIV.order-form P.warning {
	display:block;
	clear:both;

	margin:5px 0 10px 40px;

	font-size:16px;
	font-weight:bold;

	color:#ff6000;
}

DIV.order-form DIV.field {
	display:block;
	float:left;

	height:auto;

	margin:0;
	margin-bottom:5px;
	padding:0;

	font-size:14px;

	width:700px;
	min-width:700px;
}


DIV.order-form DIV.field SPAN.prefix {
	display:block;
	float:left;

	width:10px;

	padding:8px 7px 0 15px;

	font-size:18px;

	color:#ff6000;
}

DIV.order-form DIV.field INPUT,
DIV.order-form DIV.field TEXTAREA,
DIV.order-form DIV.field SELECT {
	display:block;
	overflow:hidden;
	float:left;

	font-family: Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#616161;

	padding:3px 10px;

	max-width:500px;

	border:2px solid #ffbd0c;
	border-radius:15px;
}

.hint {
	color:lightgrey !important;
}

DIV.order-form DIV.field INPUT[type="submit"] {
	display:block;
	float:left;

	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#ff853c;

	padding:0 10px;

	max-width:500px;

	background:#fff6ca;

	border:2px solid #ffbd0c;
	border-radius:15px;
}

DIV.order-form DIV.help-form {
	display:block;
	float:left;

	margin:10px 0 0 35px;

	font-size:10pt;
	color:silver;
}

DIV.order-form DIV.help-form SPAN.star {
	display:inline;
	color:#ff6000;
}
