DIV.pager-wrap {
	display:block;
	clear:both;

	width:100%;
}

DIV.pager-wrap DIV.pager {
	display:block;
	float:right;

	text-align:right;

	margin:20px 20px 0 0;
	padding:0;

	font-size:11px;
}

DIV.pager-wrap DIV.pager STRONG {
	display:block;
	float:left;

	text-align:center;

	width:24px;
	height:24px;

	padding-top:6px;
	margin-right:3px;

	background:url(../images/orange-circle2.png) left top no-repeat;

	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;

}

DIV.pager-wrap DIV.pager A {
	display:block;
	float:left;

	font-size:11px;
	text-decoration:none;

	text-align:center;

	width:24px;
	height:24px;

	padding-top:6px;
	margin-right:3px;

	color:#616161;
}

/* для ссылки "показать все" */
DIV.pager-wrap DIV.url_all {
	display:block;
	float:right;
	clear:right;

	text-align:right;

	margin:5px 30px 0 0;
	padding:0;
}

DIV.pager-wrap DIV.url_all A {
	font-size:11px;
	color:#616161;
}
