DIV.lot {
	display:block;
	position:relative;
	float:left;

	width:385px;
	max-width:385px;
	height:auto;

	margin:0;
	padding:0;

	margin-bottom:10px;
}

DIV.image-wrap {
	display:table;
	float:left;

	vertical-align:middle;
	text-align:center;

	width:102px;
	height:102px;

	margin:auto;
	padding:3px;

	background:white;
	border:1px solid gainsboro;
	border-radius:12px;

	behavior:url(/include/css/PIE/PIE.php);
}

.with-right-margin {
	margin-right:10px !important;
}

DIV.image-wrap DIV.image-wrap-row {
	display:table-row;
}

DIV.image-wrap DIV.image-wrap-row DIV.image {
	display:table-cell;
	overflow:hidden;

	vertical-align:middle;
	text-align:center;

	width:100px;
	height:100px;

	margin:0;
	padding:0;

	background:white;
	border:1px solid gainsboro;
	border-radius:9px;

   behavior:url(/include/css/PIE/PIE.php);
}

DIV.lot DIV.description {
	display:block;

	margin:0;
	padding:0;

	margin-left:120px;

	min-height:140px;
}

DIV.lot DIV.description A.title {
	display:block;
	overflow:hidden;

	font-size:16px;
	line-height:16px;
	text-decoration:none;

	color:#ff741b;

	/* color:#ff8400; */

	margin:3px 5px 5px 0;

	min-height:50px;
	max-height:50px;
}

DIV.lot DIV.description A.title:active,
DIV.lot DIV.description A.title:focus,
DIV.lot DIV.description A.title:hover {
	text-decoration:underline;
}

DIV.lot DIV.description SPAN.price {
	display:block;

	color:#ff741b;

	padding:0;
	margin:5px 0;

	font-size:16px;
	font-weight:bold;
}

DIV.lot DIV.description P.brief {
	display:block;
	overflow:hidden;

	margin:0;
	padding:0;
	margin-right:10px;

	max-height:84px;

	text-align:left;
	font-size:12px;
	line-height:14px;
}

DIV.lot A.cart-add {
	display:block;
/*	position:absolute;

	top:111px;
	left:0;*/

	font-size:12px;
	line-height:14px;
	text-decoration:underline;

	color:#616161;

	margin:0;
	padding:0;
	padding-left:38px;
	padding-top:5px;

	height:23px;

	background:url(../images/small-cap.png) top left no-repeat;

	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.lot A.cart-add:active,
DIV.lot A.cart-add:focus,
DIV.lot A.cart-add:hover {
	text-decoration:none;
	color:#ff741b;

}

.short-brief {
	min-height:56px !important;
	max-height:56px !important;
}

.short-title {
	min-height:35px !important;
	max-height:35px !important;
}

DIV.pager-wrap {
	display:block;
	clear:both;

	width:100%;
}

DIV.pager-wrap DIV.product-pager {
	display:block;
	float:right;

	text-align:right;

	margin:20px 20px 0 0;
	padding:0;

	font-size:11px;
}

DIV.pager-wrap DIV.product-pager STRONG {
	display:block;
	float:left;

	text-align:center;

	width:24px;
	height:24px;

	padding-top:6px;
	margin-right:3px;

	background:url(../images/orange-circle2.png) left top no-repeat;

	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;

}

DIV.pager-wrap DIV.product-pager A {
	display:block;
	float:left;

	font-size:11px;
	text-decoration:none;

	text-align:center;

	width:24px;
	height:24px;

	padding-top:6px;
	margin-right:3px;

	color:#616161;
}

/* страница товара */
DIV.product {
	display:block;
	position:relative;
	overflow:hidden;

	width:770px;
	max-width:770px;
}

DIV.product H1.title {
	display:block;
	clear:both;

	font-size:20px;
	font-weight:normal;
	line-height:22px;

	color:#ff741b;

	height:44px;
}

DIV.product DIV.info {
	display:block;
	position:relative;
	clear:both;
}

DIV.product DIV.info DIV.info-image-wrap {
	display:table;
	float:left;

	vertical-align:middle;
	text-align:center;

	width:302px;
	height:302px;

	margin:0;
	padding:5px;

	background:white;
	border:1px solid gainsboro;
	border-radius:15px;

	behavior:url(/include/css/PIE/PIE.php);
}

DIV.product DIV.info DIV.info-image-wrap DIV.info-image-wrap-row {
	display:table-row;
}

DIV.product DIV.info DIV.info-image-wrap DIV.info-image-wrap-row DIV.info-image {
	display:table-cell;
	overflow:hidden;

	vertical-align:middle;
	text-align:center;

	width:300px;
	height:300px;

	margin:0;
	padding:0;

	background:white;
	border:1px solid gainsboro;
	border-radius:10px;

   behavior:url(/include/css/PIE/PIE.php);
}

DIV.product DIV.info DIV.description {
	display:block;

	margin-left:330px;
	min-height:330px;
}

DIV.product DIV.info DIV.description DIV.photos {
	display:block;

	height:110px;
	min-height:110px;
}

DIV.product DIV.info DIV.description SPAN.price {
	display:block;

	color:#ff741b;

	padding:0;
	margin:25px 0 20px 0;

	font-size:22px;
	font-weight:bold;
}

DIV.product DIV.info DIV.description UL.parameters {
	display:block;

	list-style:none;

	margin:0;
	padding:0;
}

DIV.product DIV.info DIV.description UL.parameters LI {
	display:block;

	font-size:14px;
	font-weight:bold;

	margin-bottom:5px;
}

DIV.product DIV.info DIV.description UL.parameters LI SPAN.value {
	font-weight:normal;
}

DIV.product DIV.info A.cart-add {
	display:block;
	/*position:absolute;

	top:320px;
	left:7px;*/
	margin:0;
	margin-top: 20px;
	font-size:12px;
	line-height:14px;
	text-decoration:underline;

	color:#616161;


	padding:0;
	padding-left:38px;
	padding-top:5px;

	height:23px;

	background:url(../images/small-cap.png) top left no-repeat;

	-pie-png-fix:true;
   behavior:url(/include/css/PIE/PIE.php);
	zoom:1;
}

DIV.product DIV.info A.cart-add:active,
DIV.product DIV.info A.cart-add:focus,
DIV.product DIV.info A.cart-add:hover {
	text-decoration:none;
	color:#ff741b;

}

DIV.product P.text {
	display:block;
	clear:both;

	font-size:16px;
	line-height:18px;

	max-width:750px;

	margin:30px 10px;
	padding:0;
}
