html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0; /* обнуляем внешние отступы */
   padding: 0; /* обнуляем внутренние отступы */
   border: 0; /* убираем бордюры */
   outline: 0; /* убираем контуры */
   font-size: 100%; /* задаем базовый размер шрифта, значение по умолчанию = 16px */
   vertical-align: top; /* устанавливаем базовое вертикальное выравнивание - вверху */
   background: transparent; /* устанавливаем фон прозрачным */
}
body {
    line-height: 1; /* устанавливаем базовую высоту */
}
ol, ul {
    list-style: none; /* убираем маркеры для нумерованных и обычных списков */
}
blockquote, q {
    quotes: none; /* убираем кавычки для цитат */
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: ''; /* убираем */
    content: none; /* и скрываем генерируемое содержимое */
}
:focus {
    outline: 0; /* убираем контуры вокруг ссылок при фокусе */
}
ins {
    text-decoration: none; /* убираем подчеркивание для вставленного текста */
}
del {
    text-decoration: line-through; /* убираем перечеркивание для удаленного текста */
}
table {
   border-collapse: collapse; /* убираем рамки двойной толщины */
   border-spacing: 0; /* убираем расстояние между ячейками */
}

.clearfix:after {
   display:block;
   clear:both;
   content:" ";
   font-size:0;
   height:0;
   visibility:hidden;
}
