/* Product & Category pages styles */

/* определение стилей для контент-блока навигации Tree
	блок, в который будут загружаться страницы по ajax */

DIV#category_product_tree_content {
	margin:0;
	padding:0 5px;
	min-width:700px !important;
}

/* ограничить по ширине поля */
DIV#category_product_tree_content INPUT,
DIV#category_product_tree_content TEXTAREA,
DIV#category_product_tree_content SELECT {
	max-width:495px !important;
}

