/* blank styles */
DIV.single-blank {
	display:block;
	overflow:hidden;

	width:730px;
	min-width:730px;

	margin:0 auto;
	padding:0;
}

DIV.double-blank {
	display:block;
	overflow:hidden;

	width:1460px;
	min-width:1460px;

	margin:0 auto;
	padding:0;
}

DIV.blank-order {
	display:block;
	float:left;
	overflow:hidden;

	margin:0 10px;
	padding:0;

	width:700px;
}

DIV.blank-order DIV.contacts {
	display:block;

	margin:10px 0;
	padding:10px 0;

	border-bottom:1px solid black;

	font-family:"Times New Roman", Times, serif;
	font-size:110%;
	line-height:130%;
}

DIV.blank-order H1 {
	font-size:18pt;
}

DIV.blank-order H2 {
	font-size:15pt;
}

DIV.blank-order H3 {
	font-size:13pt;
}

DIV.blank-order DIV.blank {
	display:block;

	margin:10px 5px 0 5px;
	padding:0;

	font-family:Arial, Helvetica, sans-serif;
	font-size:80%;
	line-height: 110%;
}

DIV.blank-order DIV.blank TABLE.order-products-blank {
	border:1px solid black;

	width:100%;
}

DIV.blank-order DIV.blank TABLE.order-products-blank TD,
DIV.blank-order DIV.blank TABLE.order-products-blank TH {

	margin:0;
	padding:3px 5px;

	border:1px solid black;
}

DIV.blank-order DIV.contacts-client {
	display:block;

	margin:20px 10px;
	padding:0;

	font-family:"Times New Roman", Times, serif;
	font-size:90%;
	line-height:110%;
}

DIV.blank-order DIV.contacts-client SPAN.underline {
	border-bottom:1px solid black;
}

DIV.blank-order DIV.contacts-client H1 {
	font-size:16pt;
}

DIV.blank-order DIV.delivery {
	display: block;
	overflow: hidden;

	margin: 30px 0 40px 0;

	font-size: 10px !important;
}

DIV.blank-order DIV.delivery H1,
DIV.blank-order DIV.delivery H2,
DIV.blank-order DIV.delivery H3,
DIV.blank-order DIV.delivery H4 {
	font-size: 12px;
	font-weight: bold;
}
