/* Order module styles */
DIV.order-body {
	display:block;
	overflow:hidden;

	width:auto;
	height:auto;

	margin:10px 0;
	padding:0;
}

DIV.list TABLE.orders-list TD {
	vertical-align:top;
}

DIV.list TABLE.order-products {
	width:100%;
}

DIV.list TABLE.order-products TD.name {
	line-height:16px;
}

DIV.order-body TABLE.order-products TD.sum STRONG,
DIV.order-body TABLE.order-products TD.sum-count STRONG,
DIV.order-body TABLE.order-products TD.sum-price STRONG {
	font-weight:bold;
}

DIV.order-body P {
	display:block;

	margin:5px 0;

	font-size:13px;
}

DIV.order-body P STRONG {
	font-weight:bold;
}

DIV.order-body TABLE.comment {
	background:none;
	border:none;
}

DIV.order-body TABLE.comment TR {
	background:none;
	border:none;
}

DIV.order-body TABLE.comment TR TD {
	background:none;
	border:none;

	margin:0;
	padding:0;
}

DIV.order-body DIV.blanks-wrap {
	display:block;
	position:relative;
	line-height:18px;

	margin:5px 0;
	padding:0;
}

DIV.order-body DIV.blanks-wrap A {
	display:block;
	float:right;
	clear:right;

	font-size:14px;
}
